.customerBox .contactInfo {
		position: absolute;
		/*padding-left: 60px;*/
		font-size: 15px;
		line-height: 5x;
		float: right;
		margin-left: 10px;
		padding-left: 100px;
	}


.customerBox .contactInfo p:nth-child(1) {
	font-weight: bold;

}

.customerBox .contactInfo a {
	margin-top: -15px;
}


section.mainBox{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 100%;
	/*flex-basis: 50%;*/
}
section aside {
	margin-left: 10px;
	flex: 1;
	margin-top: 55px;
	background-color: #ccc;
	position: relative;
	font-size: 23px;
}

section article {
	flex: 2;
}
#aside_head {
	background-color: white;
	position: relative;
	padding-top: 0;
	width: 100%;
	height: 60px;
}
#aside_head span {
	font-size: 35px;
	font-weight: bold;
}
.navBar ul div{
	height: 26px;
	width: 3px;
	background-color: white;
}

#mainBody{

	background-color:white;
	position: absolute;
	height: auto;
	width: 80%;
	top: 2%;
	margin: auto;
	left: 10%;

}
#subBody{
	background-color: white;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

.mainBox{
	height: 100%;
	width: 100%;
	border-color: black;
	border-spacing: 200px;
}

#titleBox{
	background-color: #3A90CC;
	height: 120px;
	width: 100%;


}
.verticalLine {
	border-left: thin solid white;
	border-width: 2px;
	padding-top: 40px;
	padding-bottom: 28px;

}

.verticalLine2{
	border-left: thin solid black;
	border-width: 2px;
	padding-top: 0.8px;
	padding-bottom: 0.8px;

}

.titleText{
	padding:40px 60px 0 60px;
	font-size: 25px;
	color: white;
	font-weight: bold;
	/*font-style: italic; */

}
hr{
	border-top: 1px solid #8c8b8b;

}

.article{
	height: 100%;
	margin: 0 20px;
	overflow: hidden;
}

.article p {
	padding-bottom: 15px;
	font-size: 20px;
}

.customerBox {
	background-color: #ccc;
	/*background-color: #F1F1F2;*/
	width: auto;
	margin: 0;
	padding: 25px;
}

.links a{
	text-decoration: none;
	font-size: 18px;
}

footer > div {
	padding-left: 15px;
}

footer > div a {
	color:#3A90CC
}